---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Darnell 'Dee' Davis" description="About Darnell 'Dee' Davis Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by to learn more."
			>
				<!-- <img
					width="800"
					height="200"
					src="/assets/avatar.png"
					alt="Jeanine White at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						A highly skilled front-end developer with a passion for using technology to drive positive change, bringing a unique perspective and extensive experience to the field. With a background in photography and non-profit studies, I have honed my communication and problem-solving skills. I am experienced in using the MEVN stack (MongoDB, Express, Vue.js & Node.js) and cutting-edge technologies like Astro, with a proven track record of delivering high-quality websites and applications. In my free time, I enjoy staying up-to-date on industry developments and indulging in vegan cuisine. I am eager to use my skills and enthusiasm to make a positive impact through code and technology. I am looking for an opportunity to join a socially conscious team and contribute to the success of an organization.
					</p>
				</div>
			</section>
			<section>
				<!-- <h2 class="section-title">Education</h2>
				<div class="content">
					<p>Major in Fine Arts with Minor in Art History at The Fashion Instute of Technology, NYC.</p>

					<p>Major in Photography with Minors in Non-Profit & Queer Studies at Pace University, NYC.</p>
				</div> -->
			</section>
			<section>
				<!-- <h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>HTML5</li>
						<li>CSS</li>
						<li>JavaScript</li>
						<li>Python</li>
						<li>WordPress</li>
						<li>Webflow</li>
						<li>Node.js</li>
						<li>Vue</li>
						<li>JSX</li>
						<li>MongoDB</li>
						<li>Ruby</li>
						<li>React</li>
						<li>UX/UI</li>
						<li>Miro/Figma</li>
						<li>Web Accessibility</li>
						<li>Communication</li>
						<li>Collaboration</li>
						<li>Public Speaking</li>
					</ul>
				</div> -->
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
